<style>

	<meta charset="utf-8">

	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,500italic,500,700' rel='stylesheet' type='text/css'>


	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0 auto;
		padding: 0 auto;
		border: 0 auto;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Roboto Mono', sans-serif;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.clearfix {
		overflow: auto;
	}

	html {
		font-family: 'Roboto Mono', sans-serif;
	}

	body{	
		color:#1b0e44; /*deep purple*/
			}

	/*type*/
		html {
			font-size: 12px;
			color:#1b0e44; /*V dark og purple*/
		}
/*og purple #1b0e44*/		
 /*other purple #4a368a*/

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: 2rem;
		}

		.type{
			font-weight: 400;
		}


	/*links*/

		a:visited{
			color:#1b0e44; /*purple*/
			text-decoration: none;
		}

		a:link {
			color:#1b0e44; /*purple*/
			text-decoration: none;
		}

/*nav mobile*/

		.name {
			margin: 0 auto;
			padding: 0 auto;
			font-size: 1.4rem;
			text-align: center;
			margin-bottom: 8%;
			margin-top:8%;
			letter-spacing: .2rem;
			text-transform: uppercase;
		}

		.copyright {
			margin: 0 auto;
			bottom:0;
			right:0;
			width:15px;
			margin-top:5%; 
		}

		.copyright img{		
			width:100%;
			height:100%;
		}

		.navigation{
			font-size: 1.1rem;
			z-index: 100;
			width:100%;
			height:50px;
			z-index: 100;
			position: fixed;
			color:#1b0e44; /*deep purple*/
		}

		nav { 
			position: fixed;
			width:300px;
			margin-left: 50%;
			left:-150px;
			}

		nav ul li{
			display: inline-block;
			padding-left: 5%;
			padding-right: 5%;

		}
		
		.nav-button {
			text-decoration: underline;
			}

		.nav-buttonspace {
		}

		.welcome{
			margin: 0 auto;
			margin-top: 25%;
			width:90%;

		}

		.welcome p{
			text-align: center;
			line-height: 1.5rem;
		}


		#mover{
			margin:0 auto;
			width: 80%;
			margin-top: 10%;
			margin-bottom: 10%;
		}


		.proj{
			width:100%;
			margin-top: 5%;
			padding-bottom: 4%;
			border-left:.7px double red;
			border-right:.7px double #f29109;
			text-align: center;
		}

		.layer{
			
		}

		.proj img{
			margin:0 auto;
			width:90%;
			height:90%;
			margin-bottom: 4%;
		}

		#project5 img{
			margin-left: 15%;
			width:70%;
			height:70%;
		}

		#work .copyright{
			bottom:0;
			right:0;
			position: fixed;
		}

		.list{
			margin: 0 auto;
			margin-top: 15%;
			margin-bottom: 10%;
			width: 90%;
			color:#1b0e44; /*deep purple*/
		}

		.item{
			width:100%;
			margin-top: 10%;
			padding-bottom:.5%;
			border-bottom:.7px solid #124ded; /*blue*/
			border-top: .7px solid #fdddff; /*light purple*/
			border-left:.7px solid red;
			border-right:.7px solid #f29109;/* orange */


			display:inline-block;
		}

		.full{
			width: auto;
			float:left;
			margin-left: 5%;
		}

		.full p{
			white-space: nowrap;
		}

		.full p:hover{
			text-decoration: none;
		}

		@keyframes previewcolor {
		0% {color:black;}
	    50% {color:black;}
	    51% {color:red;}
	    100% {color:black;}
		}

		@-webkit-keyframes previewcolor {
		0% {color:black;}
	    50% {color:black;}
	    51% {color:red;}
	    100% {color:black;}
		}

		.preview{
			float:right;
			text-align: center;
			padding:0%;
			padding-right: 10%;
			text-decoration: underline;
			cursor: pointer;

			animation-name: previewcolor;
    		animation-duration: 3s;
    		animation-iteration-count:infinite;

    		-webkit-animation-name: previewcolor;
    		-webkit-animation-duration: 3s;
    		-webkit-animation-iteration-count:infinite;


		}

		.container{
			margin-top: 25%;
		}

		.description{
			margin-bottom: 5%;
			text-align: center;
		}

		.description p{
			margin: 0 auto;
			line-height: 1.5rem;
		}

		#about .description p{
			line-height: 1.5rem;
		}

		.content{
				margin: 0 auto;
				width:100%;
				height: 100%;
				max-width: 1000px;
				margin-bottom: 1%;
			}

		.content img{
				margin:0 auto;
				width:100%;
		}

		.content p{
			text-align: center;
			line-height: 1.2rem;

		}

		.hider {
			margin:0 auto;
			padding:1%;
			width:100%;
			display:none;

		}

		.hider video{
			width:98%;
			font-size: 0;
		}

		.hider img{
			width:98%;
		}

		.video{
			margin:0 auto;
			width:90%;
			text-align: center;
			overflow-y:hidden;

		}

		.video iframe{
			width:100%;
			
		}

			.about{
				margin:0 auto;
				width:90%;
				max-width:600px;
				margin-bottom: 5%;
				display:none;
			}

			.about p{
				text-align: left;
				line-height: 1.2rem;
				margin-bottom: 5%;
			}

			.statement{
				margin:0 auto;
				text-decoration: underline;
				margin-bottom: 4%;
				cursor: pointer;
			}

			.statement p{
				text-align: center;
			}

			.sitelink{
				text-align: center;
				margin: 0 auto;
			}

			.sitelink p{
				margin: 0 auto;
			}


			.sitelink a{
				margin: 0 auto;
				text-align: center;
				
			}

			span{
				text-decoration: underline;
			}

			.gifs{
				margin:0 auto;
				margin-top: 7%;
				text-align: center;
				
			}

			.gifs p{
				margin: 0 auto;
				cursor: pointer;
				text-align: center;
				margin-bottom: 7%;
			}

			.expand{
				margin-top: 3%;
				text-decoration: underline;
			}


			.inside{
				width:90%;
				margin:0 auto;
				padding:2%;
				text-align: center;
				margin-bottom:10%;
				border-bottom:.7px solid #124ded; /*blue*/
				border-top: .7px solid #fdddff; /*light purple*/
				border-left:.7px solid red;
				border-right:.7px solid #f29109;/* orange */
			}

			.indrop{
				cursor: pointer;
			}

			.outdrop{
				cursor: pointer;
			}

			.rdrop{
				cursor: pointer;
			}

			.inside video{
				width:100%;
				margin: 0 auto;
				margin-bottom:2%; 
			}

			.ipics{
				margin: 0 auto;
				width:100%;
				display: none;
				height:450px;
				overflow: auto;
				margin-bottom: 7%;
			}

			.ipics img{
				width: 100%;
				margin:0 auto;
				margin-bottom:2%; 
			}

			.outside{
				width:95%;
				margin:0 auto;
				padding:2%;
				text-align: center;
				margin-bottom:10%;
				border-bottom:.7px solid #124ded; /*blue*/
				border-top: .7px solid #fdddff; /*light purple*/
				border-left:.7px solid red;
				border-right:.7px solid #f29109;/* orange */
			}

			.outside video{
				width:100%;
				margin: 0 auto;
				margin-bottom:2%; 
			}

			.opics{
				margin: 0 auto;
				width:100%;
				display: none;
				height:450px;
				overflow: auto;
				margin-bottom: 7%;
			}

			.opics img{
				width: 100%;
				margin:0 auto;
				margin-bottom:2%; 
			}

			.random{
				width:95%;
				margin:0 auto;
				padding:2%;
				text-align: center;
				margin-bottom:10%;
				border-bottom:.7px solid #124ded; /*blue*/
				border-top: .7px solid #fdddff; /*light purple*/
				border-left:.7px solid red;
				border-right:.7px solid #f29109;/* orange */
			}

			.random video{
				width:100%;
				margin: 0 auto;
				margin-bottom:2%; 
			}

			.rpics{
				margin: 0 auto;
				width:100%;
				display: none;
				height:450px;
				overflow: auto;
				margin-bottom: 7%;
			}

			.rpics img{
				width: 100%;
				margin:0 auto;
				margin-bottom:2%; 
			}


/*TABLET*/
	@media only screen and (min-width : 768px) and (max-width : 1024px) {
		.name{
			margin-bottom: 5%;
			margin-top:5%;
		}


		#mover{
			margin-top: 10%;
			width: 70%;
		}

		.welcome{
			margin-top: 15%;
			width:70%;
		}

		.proj{
			margin-top: 5%;
		}

		#project5 img{
			margin-left: 10%;
			width:50%;
			height:50%;
		}

		#project6 img{

			width:50%;
			height:50%;
		}

		.list{
			margin-top: 10%;
			width: 70%;
		}

		.item{
			
		}

		.container{
			margin-top: 5%;
		}

		.description{
			margin-top: 10%;
		}

	}

/*DESKTOP*/
	@media only screen and (min-width : 1025px){

		.name{
			margin-bottom: 4%;
			margin-top:4%;
		}

		#mover{
			width:100%;
			margin: 0 auto;
			margin-left: 2.25%;
			margin-top:0;
			text-align: center;
			width: 100%;
		}

		.welcome{
			margin-top: 10%;
			width:40%;
		}

		.proj{
			float:left;
			margin-left: 5%;
			margin-bottom: 2%;
			width:25%;
			height: 350px;

		}



		.copyright{
			position:fixed;
		}

		.list{
			margin-top: 8%;
			width:50%;
			float:right;
		}

		@keyframes borderleft {
			0% {border-left: .7px solid black;}
	    	50% {border-left: .7px solid black;}
	    	51% {border-left: .7px solid red;}
	    	100% {border-left: .7px solid black;}
		}

		@-webkit-keyframes borderleft {
			0% {border-left: .7px solid black;}
	    	50% {border-left: .7px solid black;}
	    	51% {border-left: .7px solid red;}
	    	100% {border-left: .7px solid black;}
		}


		.item{
			margin: 0 auto;
			padding:0 auto;
			margin-bottom: 2%;
			height:20px;
			width:100%;
			border-bottom:none;
			border-right:none;
			border-top: none;
			border-left:.7px solid #124ded; /*blue*/
			font-size: 1rem;
			line-height: 0rem;
			background-color: white;

			animation-name: borderleft;
    		animation-duration: 3s;
    		animation-iteration-count:infinite;

    		-webkit-animation-name: borderleft;
    		-webkit-animation-duration: 3s;
    		-webkit-animation-iteration-count:infinite;

		}

		.full{
			margin:0 auto;
			padding:0 auto;
			margin-left: 3%;
		}

		.full p:hover{
			text-decoration: underline;
		}

		.preview{
			display: none;
		}

		.full:hover .hider{

		}

		.hider {
			margin:0 auto;
			width:32%;
			position:fixed;
			left:10%;
			top:30%;
			display:none;
			max-width:500px;

		}

		.hider img{
			margin:0 auto;
			padding-left: auto;
			text-align: center;
			height:100%;
			width:100%;
		}

		.h6 img{
			margin:0 auto;
			width:80%;
			margin-left:10%;
		}

		.h11 img{
			margin:0 auto;
			width:60%;
			margin-left:20%;
		}

		.container{
			margin-top:8%;
		}
		.content{
			margin-bottom: .5%;
		}
		

		#baja .container{
			margin:0 auto;
			margin-top: 8%;
			max-width: 800px;
		}

		.description{
			margin-top:3%;
			margin-bottom: 3%;
		}

		.video{
			margin:0 auto;
			width:1000px;
			text-align: center;
			overflow-y:hidden;
		}

		.video iframe{
			width:70%;
		}
/*THESIS PAGE
*/

		#thesis .container{
			width:100%;
			max-width:auto;
		}

		.gifs{
			width:100%;
		}

		.inside{
				float:left;
				width:30%;
				padding:0.25%;
				margin:1%;
				margin-left: 2.5%
			}

		.outside{
				float:left;
				width:30%;
				padding:0.25%;
				margin:1%;
				
			}

		.random{
				float:left;
				width:30%;
				padding:0.25%;
				margin:1%;

			}

@media only screen and (min-width : 1220px){
	.hider{
		left:10%;
		top:30%;

	}


</style>